In [5]:
import pandas as pd

extracted_dir = 'food_delivery_dataset'
csv_file_path = f"{extracted_dir}/train.csv"
df = pd.read_csv(csv_file_path)

#Convert 'Delivery_person_Age' to numeric
df['Delivery_person_Age'] = pd.to_numeric(df['Delivery_person_Age'], errors='coerce')

#Replace null values in 'Delivery_person_Age' with the average
Average_age = df['Delivery_person_Age'].mean()
df['Delivery_person_Age'] = df['Delivery_person_Age'].fillna(int(Average_age))

In [6]:
#Convert 'Delivery_person_Ratings' to numeric
df['Delivery_person_Ratings'] = pd.to_numeric(df['Delivery_person_Ratings'], errors='coerce')

#Replace null values in 'Delivery_person_Ratings' with average(1 decimal point)
Average_rating = df['Delivery_person_Ratings'].mean()
df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].fillna(round(Average_rating, 1))

In [11]:
#Convert 'Delivery_person_Ratings' to numeric
df['multiple_deliveries'] = pd.to_numeric(df['multiple_deliveries'], errors='coerce')

#Replace null values with the most frequent value which is the mode of the data
most_frequent_value = df['multiple_deliveries'].mode()[0]
df['multiple_deliveries'] = df['multiple_deliveries'].fillna(most_frequent_value)

In [13]:
print(df.head())

        ID Delivery_person_ID  Delivery_person_Age  Delivery_person_Ratings  \
0  0x4607     INDORES13DEL02                  37.0                      4.9
1  0xb379     BANGRES18DEL02                  34.0                      4.5
2  0x5d6d     BANGRES19DEL01                  23.0                      4.4
3  0x7a6a    COIMBRES13DEL02                  38.0                      4.7
4  0x70a2     CHENRES12DEL01                  32.0                      4.6

   Restaurant_latitude  Restaurant_longitude  Delivery_location_latitude  \
0            22.745049             75.892471                   22.765049
1            12.913041             77.683237                   13.043041
2            12.914264             77.678400                   12.924264
3            11.003669             76.976494                   11.053669
4            12.972793             80.249982                   13.012793

   Delivery_location_longitude  Order_Date Time_Orderd Time_Order_picked  \
0                    75.912471  19-03-2022    11:30:00          11:45:00
1                    77.813237  25-03-2022    19:45:00          19:50:00
2                    77.688400  19-03-2022    08:30:00          08:45:00
3                    77.026494  05-04-2022    18:00:00          18:10:00
4                    80.289982  26-03-2022    13:30:00          13:45:00

       Weatherconditions Road_traffic_density  Vehicle_condition  \
0       conditions Sunny                High                   2
1      conditions Stormy                 Jam                   2
2  conditions Sandstorms                 Low                   0
3       conditions Sunny              Medium                   0
4      conditions Cloudy                High                   1

  Type_of_order Type_of_vehicle  multiple_deliveries Festival            City  \
0        Snack      motorcycle                   0.0      No           Urban
1        Snack         scooter                   1.0      No   Metropolitian
2       Drinks      motorcycle                   1.0      No           Urban
3       Buffet      motorcycle                   1.0      No   Metropolitian
4        Snack         scooter                   1.0      No   Metropolitian

  Time_taken(min)
0        (min) 24
1        (min) 33
2        (min) 26
3        (min) 21
4        (min) 30